.file-upload-button {
    background-color: var(--button-wpm);
    color: var(--text-main);
    border: 1px solid transparent;
    width: auto;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1em;
    font-weight: 500;
    transition: all 0.3s ease;
}

.file-upload-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file-upload-button i {
    font-size: 1.1em;
}

@media (max-width: 767px) {
    .file-upload-button {
        padding: 0.5em 1em;
        font-size: 0.9em;
        height: auto;
        width: 400px;
        text-align: center;
    }
}