

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown {
    position: relative; 
    display: inline-block;
    width: 150px; 
    margin: 20px;
}

/* The Main Button */
.dropdown-toggle {
    width: 100%;
    background-color: #85CA76;
    /* color: white; */
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Optional: looks nicer */
}


.dropdown-menu {
    position: absolute; /* Floats on top of content */
    top: 100%; /* Pushes it directly below the button */
    left: 0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds shadow */
    z-index: 1; /* Ensures it sits on top of text */
    border-radius: 8px;
    margin-top: 4px;
    overflow: hidden;
    color: #000;
}

/* The items inside the menu */
.dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 15px;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
}

/* Active state styling */
.dropdown-menu button.active {
    background-color: #e8f5e9;
    font-weight: bold;
    color: #2e7d32;
}