ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown {
    position: relative; 
    display: inline-block;
    width: 150px; 
    margin-left: 20px;
}

/* The Main Button */
.dropdown-toggle {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px; /* Optional: looks nicer */
}


.dropdown-menu{
    position: absolute; /* Floats on top of content */
    top: 100%; /* Pushes it directly below the button */
    left: 0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds shadow */
    z-index: 100; /* Ensures it sits on top of text */
    border-radius: 8px;
    margin-top: 4px;
    overflow: hidden;
    background-color: var(--bg-card);
    color: var(--text-main);
    max-height: 250px;
    overflow-y: auto;

}

/* The items inside the menu */
.dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 15px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 101;
    color: var(--text-main);
}

.dropdown-menu button:hover {
    background-color: var(--button-wpm);
}

/* Active state styling */
.dropdown-menu button.active {
    background-color: #e8f5e9;
    font-weight: bold;
    color: #2e7d32;
}

.transition-transform {
    transition: transform 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}