.container {
    position: relative;
    margin-top: 20px;
}

.container label {
    display: block;
    margin-bottom: 8px;
}

.text-area {
    margin: 0 20px;
    text-align: left;
    width: 800px;
    height: 200px;
    background-color: var(--bg-card);
    color: var(--text-main);
}

/* --- SPECIFIC: The Active View Mode --- */
.view-mode {
    width: 800px;
    height: 200px;
    border-color: #85CA76; 
    background-color: var(--bg-card);
    overflow-y: auto;
    font-size: .9rem;
}

/* --- SPECIFIC: The Text Area --- */
.text-area:focus {
    outline: none;
    border-color: #85CA76; /* Green focus ring */
    box-shadow: 0 0 0 3px rgba(133, 202, 118, 0.2); /* Soft green glow */
}

/* --- THE HIGHLIGHTED WORD --- */
.active-word {
    background-color: #85ca766d;
    color: var(--text-main);
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Non-active words (optional: dim them slightly) */
.view-mode span:not(.active-word) {
    opacity: 0.7;
    transition: opacity 0.2s;
}

/* tablet */
@media (max-width: 1023px) {
  .text-area, .view-mode {
    width: 400px;
    /* height: 500px; */
  }
}

/* mobile */
@media (max-width: 767px) {
  .text-area, .view-mode {
    width: 400px;

  }
}