#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .header {
  padding-top: 1.5rem;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-main);
}

.focal-point {
  color: var(--focal-color);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  background-color: var(--bg-card);
  border-radius: 90px;
  padding: 2em;
}

.controls {
  margin: 1.5rem;
}

.word-card {
  font-size: 2rem;
}

.card-placeholder {
  color: var(--text-muted);
  font-size: 1.5rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.toggle-play {
  background-color: var(--button-control);
  width: 10rem;
}

.toggle-play:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.read-the-docs {
  color: #888;
}

.input {
  margin: 20px;
}

/* tablet */
@media (max-width: 1023px) {
  .logo {
    height: 4em;
  }
  .card {
    border-radius: 70px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .logo {
    height: 3em;
  }
  .card {
    width: 80%;
    height: 200px;
    border-radius: 50px;
  }
}
