#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.header {
  padding-top: 1.5rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  background-color: #333;
  border-radius: 90px;
}

.word-card {
  font-size: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.toggle-play {
  background-color: #E89D9D80;
  width: 10rem;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 767px) {
  .card {
    width: 80%;
    height: 200px;
    border-radius: 50px;
  }
}
