:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* light mode defaults */
  --bg-main: #d8d8d8;
  --bg-card: #e9e9e9;
  --text-main: #000;
  --text-muted: #b4b4b4;
  --button-control: #e89d9d86;
  --button-wpm: #85ca7686;
  --focal-color: #d32f2f;
}

[data-theme="dark"] {
  --bg-main: #1e1e1e;
  --bg-card: #333;
  --text-main: #fff;
  --text-muted: #444444;
  --button-control: #e89d9d86;
  --button-wpm: #85ca7686;
  --focal-color: #ff6666;
}

body { 
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
